# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Builds
dist/
build/

# OS
.DS_Store

# Editor
.vscode/

# Prisma
prisma/migrations/dev.db

# Cursor
.cursor/
.cursor/**

# OS / editor junk
.DS_Store
.Trash/
.lesshst
.node_repl_history

# Local caches
.cache/
.cache/**
.local/
.local/**
.config/
.config/**
.m2/
.m2/**
.mc/
.mc/**
.mongodb/
.mongodb/**
.mono/
.mono/**
.node-gyp/
.node-gyp/**
.npm-global/
.npm-global/**

# Node / Prisma artifacts
**/node_modules/
**/.prisma/

# Secrets / local config
**/apps**
